<!DOCTYPE html>
<html lang="" style="width: 100%;height: 100%;margin:0;padding: 0;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>

<body style="width: 100%;height: 100%;margin:0;padding: 0;">
    <script type="text/javascript">
        const str = '<%=htmlWebpackPlugin.options.panels%>';
        window.pluginPanels = JSON.parse(str);
    </script>
<div id="app" style="width: 100%;height: 100%;margin:0;padding: 0;background-color: #FFFFFF; display:flex; flex-direction:column;"></div>
</body>
</html>
