@font-face {
  font-family: "iconfont"; /* Project id 3119913 */
  src: url(./iconfont.woff2?t=1641371203080) format('woff2'),
       url(./iconfont.woff?t=1641371203080) format('woff'),
       url(./iconfont.ttf?t=1641371203080) format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\e85e";
}

.icon-doc:before {
  content: "\e6f3";
}

.icon-refresh:before {
  content: "\e600";
}

